$primary: #FFD0EC;
$secondary: #81689D;

#font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#interests {
    background-image: url("/test-site/images/interests.png");
}

#dislikes {
    background-image: url("/test-site/images/dislikes.png");
}

#playlists {
    background-image: url("/test-site/images/playlists.png");
}

#likes {
    background-image: url("/test-site/images/likes.png");
}

.round {
    border-radius: 10px;
}

.background {
    position: relative;
    background-image: url("/test-site/images/purple-stripes.jpg");
    background-size: 50%;
}

#background2 {
    position: relative;
    background-image: url("/test-site/images/mrmallard.png");
    background-size: 50%;
}

.vertical-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Import all of bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

