$primary: #FFD0EC;
$secondary: #81689D;

#font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.round {
    border-radius: 10px;
}

.background {
    position: relative;
    background-image: url("/test-site/images/purple-stripes.jpg");
    background-size: 50%;
}

#background2 {
    position: relative;
    background-image: url("/test-site/images/mrmallard.png");
    background-size: 50%;
}

.vertical-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Import all of bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

